*,::after,::before{
  margin:0;
  padding:0;
}
a,ul,li,button,input{
  text-decoration: none;
  list-style-type: none;
  border: none;
  
}
:root{
  --color-primary:#FED530;
  --color-secondary:#2E2E2E;
  --color-text:#FFFFFF;
  --font-base:'DM Sans';
  --gradient:linear-gradient(90deg, rgba(0,0,0,1) 61%, rgba(43,42,42,0.100175070028011) 100%);

}
@font-face{
  font-family:'DM Sans';
  src:url('./assets/fonts/DMSans-Medium.ttf');
  src:url('./assets/fonts/DMSans-Regular.ttf');
}
body {
  font-size: 16px;
}
.container{
  display:grid;
  
}
.wrapper{
  padding: 0 90px;
}
.header{
  display:flex;
  position: fixed;
  width: 90%;
  margin-top: 10px;
  justify-content: space-between;
  z-index: 2;  
  
  background: transparent;
}
.nav-left{
  display: flex;
  justify-content: flex-start;

}
.nav-logo{
  font-family: var(--font-base);
  color:var(--color-text);
  font-size:34px;
  font-weight: bold;
}
.nav-right{
  display:flex;
  position: relative;

  bottom:0;
  

}
.nav-list{
  list-style: none;
  margin-left:50px;
  padding:0;
  display: flex;
  align-items: flex-start;
  text-align: middle;
}
.nav-list--2{
  display: flex;
  align-items: center;
  list-style: none;
  margin-left:20px;
  text-align: center;
  padding:0;
}

.list-item{
  display:inline-flex;
  font-size: 16px;
  font-weight: bold;
}
.link-list{
  position:relative;
  padding: 15px 0 5px;
  margin:0 25px;
  color:#fff;

  text-decoration: none;
  font-family: var(--font-base);
  font-size: 16px;
}

.link-list:hover{
  color:#fff;
  font-weight: 700;
  transform: .9s;
}
.link-list:after{
  content:'';
  position:absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%) scaleX(0);
  transform-origin:50% 50%;
  width:100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 250ms;
}
.link-list:hover:after{
  color: var(--color-primary);
  transform:translateX(-50%) scaleX(1); 
}
.search-icon{
  display: flex;
  align-items: center;
  object-fit: contain;
  padding-right:5em ;
}
.user-icon{
  display: flex;
  align-items: center;
  object-fit: contain;
  padding-right:1em ;
}
.name-user{
  color:var(--color-text);
  font-family: var(--font-base);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

}
/*-------HERO------------ */
.hero{
  display: flex;
  background: var(--gradient);
  position: relative;
  height: 1131px;
  justify-content: space-between;
}
.hero-description{
  display:grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-areas: "1 2 3 4 5 ";
  grid-template-rows: 250px 130px 160px 180px 160px 160px;
  grid-gap:0;
  top:-40px;
  background: black;
  width: 590px
}
.cover-image{
  grid-area: 3;
  position:relative;
  display: flex;
  object-fit: contain;
  left: 0;
  width: 854.1px;
  justify-content: flex-end;
  z-index: -1;
}
.hero-title{
  position:relative;
  top:200px;
  grid-area: 1;
}
.title-description{ 
  color:var(--color-text);
  font-style: normal;
  font-weight: bold;
  font-size: 72px;

  font-family: var(--font-base);
}
.hero-stars{
  grid-area: 2;
  position: relative;
  display: flex;
  align-items: center;
  top:0;
}
.star-icon{
  padding-right:5px;
}

.img-hero{
  height: 100%;
  width: 854.1px;
  object-fit: cover;
}
.hero-abstract{
  grid-area: 3;
  font-size: 24px;
  line-height: 42px;
  color:var(--color-text);
  font-family: var(--font-base);
}
.hero-list{
  grid-area: 4;
}
.text-hero{
  color: var(--color-text);
  font-family: var(--font-base);
  font-size: 20px;
  line-height: 2;
}
.btn-hero{
  grid-area: 5;
  cursor:pointer;
  width: 348px;
  height: 76.44px;
  background:var(--color-primary);
  color:var(--color-secondary);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 68px;
  border-radius: 40px;
  transition: 0.3s;

}
.btn-hero:hover{
  background: #aa9027;
  color:var(--color-text);


}
.trailers{
  position: absolute;
  display: flex;
  top:80%;
  bottom:10px;
  width: 297px;
  height: 137px;


}
.title-trailer{
  display: flex;
  position: absolute;
  overflow: hidden;
  top:-100px;
  bottom:0;
  font-family: var(--font-base);
  font-size: 36px;
  color: var(--color-text);


}
.trailers-container{
  display: grid;
  
}
.trailer{
  position: relative;

  cursor:pointer;
  margin-right: 20px;
  bottom: 0;
  z-index: 1;

}
.number{
  position:absolute;
  top:80%;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  font-family: var(--font-base);
  left:calc(100% - 20%) ;
  right: 0;
  color:var(--color-text);

  font-size: 40px;
}
.image-trailer{
  position: relative;
  bottom:0;
  object-fit: contain;

  opacity: 90%;

}
/* Trailers Gallery */
/* 
 */