*{
  margin:0;
  padding:0;
}
:root{
  --color-primary:#FED530;
  --color-text:#FFFFFF;
  --font-base:'DM Sans';
  --gradient:linear-gradient(90deg, rgba(0,0,0,1) 67%, rgba(43,42,42,0.9500175070028011) 100%);

}
@font-face{
  font-family:'DM Sans';
  src:url('assets/fonts/DMSans-Bold.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  background: black;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,'DM Sans';
}

.container{
  height: 100vh;
  min-width: 1440px;
  margin-left:103px; 
 
  background-clip: var(--gradient);

}
/* ------HEADER NAVBAR-------- */
/* Resets */

.header{
  position:relative;
  top:-70px ;


}
.toolbar{
  display:flex;
  justify-content: space-between;
  line-height:1;
  margin-right:92px;
  padding: 0;
}
.wrapper-left{
  display: flex;
}
.wrapper-right{
  display:flex;
  align-items: center;
  justify-content: space-around;

}
.list{
  list-style: none;
  margin-left:50px;
  padding:0;
  display: flex;
  align-items: flex-start;
  text-align: middle;

}

.list-item{
  display:inline-flex;
  font-size: 16px;
  font-weight: bold;
}
.link-list{
  position:relative;
  padding: 15px 0 5px;
  margin:0 25px;
  color:#fff;
  text-decoration: none;

  font-family: 'DM Sans';
  font-size: 16px;
}

.link-list:hover{
  color:#fff;
  transform: .9s;
}
.link-list:after{
  content:'';
  position:absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%) scaleX(0);
  transform-origin:50% 50%;
  width:100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 250ms;


}
.link-list:hover:after{
  color: var(--color-primary);
  transform:translateX(-50%) scaleX(1); 
}
.search-icon{
  cursor: pointer;
  padding-right: 50px;
}
.user-icon{
  cursor: pointer;
  padding-right: 16px;
}
.name-user{
  font-family: 'DM Sans';
font-style: normal;
font-weight: bold;
font-size: 16px;


}
.logo{

  cursor:"pointer";
  font-style: "normal";
  font-weight: "bold";
  font-size: "42px";
  text-align: center;
  line-height: 1;
}

.overlay-hero{
  position:relative;
  background:   linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(43,42,42,0) 100%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.movie{

  position: relative;
  z-index: -1;
  object-fit: contain;
  width: 100%;


}

.description-content{
  position:relative;
  display: flex;
  color: var(--color-text);

  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: var(--font-base);
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
 

}
.stats{
  position: absolute;
  display: block ;
  align-items: left;
  left: 4%;
  top:15%;
  bottom:50%;
  justify-content: flex-end;
  bottom: 0;
}
.starts{
  display: inline-flex;
  
}
.icon-star{
  padding-right: 5px;
}
.description-movie{
  width:auto;
  margin-right: 200px;
  height:96px;
  font-style: normal;
 
  font-size: 20px;
  line-height: 2.5;
}
.movie-information{
  margin-top: 40px;
}

.btn{

}
.btn-content{
  background: var(--color-primary);
  width: 348px;
  height: 76.44px;
  display: block;
  padding: 10px;
  border: none;
  color:black;
  font-weight: bold;
font-size: 24px;
  border-radius: 45px;
  margin: 40px 0;
  transition: 0.3s;
  cursor: pointer;
}

.btn-content:hover{
  background: #fed53096
}

/* Trailers Gallery */

.trailers{
  position:absolute;
  top:1;
  left: 2%;
  right: 1;
  bottom: 0;
  width: fit-content;
}
.title-trailer{
  color:var(--color-text);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.trailers-container{
  margin-bottom: 200px;

}

.trailer{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap:15px;
}
.image-trailer{
  width: 100%;
  height: 100%;
  object-fit: contain;
}