*{
  margin:0;
  padding:0;
}
:root{
  --color-primary:#FED530;
  --color-text:#FFFFFF;
  --font-base:'DM Sans';
  --gradient:linear-gradient(90deg, rgba(0,0,0,1) 67%, rgba(43,42,42,0.9500175070028011) 100%);

}
@font-face{
  font-family:'DM Sans';
  src:url('assets/fonts/DMSans-Bold.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  background: black;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,'DM Sans';
}

.container{

  min-width: 1440px;
 

  display:grid;
  background-clip: var(--gradient);
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
            "nav nav"
            "hero hero"
  ;

}
/* ------HEADER -------- */


.navbar{
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background-color: "transparent";
  width: 100%;
  margin-top: 10px;
  font-family: var(--font-base);
}
.wrapper-left{

  display:flex;
  grid-area: nav;
  line-height:1;
  margin-left:90px;
  padding: 0;

}
.wrapper-right{
  display:flex;
  align-items: center;
  grid-area: nav;
  margin-right:90px;
  padding: 0;
}
.list{
  list-style: none;
  margin-left:50px;
  padding:0;
  display: flex;
  align-items: flex-start;
  text-align: middle;

}

.list-item{
  display:inline-flex;
  font-size: 16px;
  font-weight: bold;
}
.link-list{
  position:relative;
  padding: 15px 0 5px;
  margin:0 25px;
  color:#fff;
  text-decoration: none;

  font-family: 'DM Sans';
  font-size: 16px;
}

.link-list:hover{
  color:#fff;
  transform: .9s;
}
.link-list:after{
  content:'';
  position:absolute;
  left:50%;
  bottom:0;
  transform: translateX(-50%) scaleX(0);
  transform-origin:50% 50%;
  width:100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 250ms;


}
.link-list:hover:after{
  color: var(--color-primary);
  transform:translateX(-50%) scaleX(1); 
}
.search-icon{
  cursor: pointer;
  padding-right: 50px;
}
.user-icon{
  cursor: pointer;
  padding-right: 16px;
}
.name-user{
  color:var(--color-text);
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.logo{
  cursor:"pointer";
  font-style: "normal";
  font-weight: "bold";
  font-size: "42px";
  text-align: center;
  line-height: 1;
  padding: 0;
}
/*-------HERO------- */
.hero{

  position:relative;
  background:   linear-gradient(90deg, rgba(0,0,0,1) 60%, rgba(43,42,42,0) 100%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-area: hero;
}
.description-movie{
  position:relative;
  margin:0;
  grid-area: hero;
  color: var(--color-text);
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-base);
  font-style: normal;
  font-weight: bold;
  width:100%;
  left: 101px;
  bottom:50px;

  font-size: 38px; 
}
.movie{
  position: relative;
  z-index: -1;
  object-fit: contain;
}


.movie-title{
  display: flex;
  position: relative;
  width: 100%;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  bottom:20px;
}
.abstract{
  display: inline-flexbox;
  position: relative;
  text-align: left;
  font-family: var(--font-base);
  height:fit-content;
  font-weight: 400;
  font-size: 20px;
  text-size-adjust: 1;
  text-overflow:inherit;
  line-height: 2.5;
  width: 50%;
  margin: 0 auto 0 0;
}

.movie-information{
  margin: 20px 0;
}
.starts{
  position: relative;
  display:flex;
  margin-bottom: 50px;
  width: 100%;
  justify-content: flex-start;
}

.icon-star{
  padding-right: 5px;

}
.btn-watch{
  background: var(--color-primary);
  width: 348px;

  height: 76.44px;
  display: block;
  padding: 10px;
  border: none;
  color:black;
  font-weight: bold;
  font-size: 24px;
  border-radius: 45px;
  margin: 40px 0;
  transition: 0.3s;
  cursor: pointer;
}
.btn-watch:hover{
  background: #fed53096
}
/* Trailers Gallery */

.trailers{
  position:absolute;
  top:1;
  left: 2%;
  right: 1;
  bottom: 0;
  width: fit-content;
  left: 101px;
}
.title-trailer{
  color:var(--color-text);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
  letter-spacing: 1px;
}
.trailers-container{
  margin-bottom: 50px;

}

.trailer{
  display: grid;
  grid-template-columns: repeat(4,auto);
  grid-gap:15px;
}
.image-trailer{
  width: 100%;
  height: 100%;
  object-fit: contain;
}